@import "base.css";

:root {
  --text: #6b6375;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  --jump-color: #0c4a6e;
  --jump-bg: linear-gradient(135deg, #e0f2fe, #bae6fd);
  --jump-border: #38bdf8;

  font: min(2vh, calc(2vw * 10 / 16)) var(--sans);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  user-select: none;
}